:root {
    --background: #1c1c1c;
    --cards: #3c3c3c;
    --text: #f5f5f5;
    --primary: #c1839f;
    --success: #087e8b;
    --failure: #ff5a5f;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.home {
    height: 100vh;
    width: 100vw;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox */
    box-sizing: border-box;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.heading {
    width: 100%;
    height: 52px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.quickLinks {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 16px;
}

.tabContent {
    width: 100%;
    height: 100%;
}

.budgetContent, .expenseContent {
    width: 100%;
    height: 100%;
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.budgetLeftContainer {
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.budgetContainerRightWrap {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.budgetContainerRight {
    width: 100%;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

.budgetLeftTop {
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.budgetLeftBottom {
    width: 100%;
    height: 48%;

    overflow: hidden;
    padding-bottom: 24px;
}

.budgetEntryCard {
    width: 50%;
    height: 100%;

    background-color: var(--cards);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
}

.inputRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.cardEntryActions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.budgetListCard {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 16px;
    padding: 8px;

    background-color: var(--cards);
}

.budgetListCardData {
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.expenseLeftContainer{
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.expenseContainerRightWrap {
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    background-color: #087e8b;
}

.expenseContainerRight {
    width: 100%;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}


.expenseEntryCard {
    width: 100%;
    height: 40%;

    background-color: var(--cards);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
}

.expensePieChartContainer {
    width: 100%;
    height: 55%;

    background-color: #087e8b;
}